<div id="<%= dom_id user %>">
  <p>
    <strong>Userid: </strong>
    <%= user.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
  <strong>Micropost:</strong>
    <br> <br>
  <% user.microposts.each do |i| %>
    <%= i.content %> <br>
  <% end %>
  </p>

</div>
